node_modules
.next
.env*.local
headlessui-main
ui-main
*.tsbuildinfo
.vercel

# OS
.DS_Store
*.DS_Store

# clerk configuration (can include secrets)
/.clerk/

# GCP credentials
gcp-credentials.json
*.credentials.json
